* {
    margin: 0;
    padding: 0;
    /* box-shadow: inset 0 0 0 1px #000; */
}

body {
    font-family: Google Sans, sans-serif;
    user-select: none;
    background-color: #e0e0e0;
    position: relative;
}

#root {
    height: 100vh;
}

#root::before {
    content: "";
    height: 140px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
    background-color: #0099AC
}

a {
    text-decoration: none;
    color: initial;
}

.logo{
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    height: 140px;
    width: 140px;
}
