.chatter {
    display: grid;
    grid-template-rows: 60px 1fr max-content;
}

.chatter header {
    height: 60px;
    background: #ededed;
    display: grid;
    grid-template-columns: max-content 1fr max-content max-content max-content;
    align-items: center;
    grid-column-gap: 6px;
    padding-right: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .08);
}

.chatter h1 {
    font-size: 16px;
    font-weight: normal;
    text-transform: capitalize;
}

.chatter header img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border-radius: 50%;
}

.chatter svg {
    cursor: pointer;
    padding: 8px;
}

.chatter form {
    max-height: 100px;
    background: #ededed;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    padding: 5px 10px;
}

.chatter form .input-wrapper {
    font-size: 15px;
    font-weight: 400;
    max-height: 100px;
    min-height: 20px;
    outline: none;
    position: relative;
    white-space: pre-wrap;
    word-wrap: break-word;
    z-index: 1;
    box-sizing: border-box;
}

.chatter form .input-wrapper .input {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 21px;
    padding: 9px 12px 11px;
    margin: 5px 10px;
    box-sizing: border-box;
    flex: 1 1 auto;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    min-height: 20px;
    max-height: 77px;
    min-width: 0;
    outline: none;
    width: inherit;
    will-change: width;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    color: grey;
}

main {
    background: url('https://web.whatsapp.com/img/bg-chat-tile_9e8a2898faedb7db9bf5638405cf81ae.png'), #e5ddd5;
    background-blend-mode: soft-light;
}
